    .wrap_bg_box.medical {
        padding: 36px 10px 10px;
    }
    .wrap_bg_box {
        position: relative;
        padding: 36px 10px 10px;
        background: #ebebeb;
    }
    .wrap_bg_box h4 {
        margin: 0 0 30px 30px;
        color: #444;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -.9px;
    }
    .wrap_bg_box ul.before_list {
        margin-bottom: 22px;
        padding: 10px 60px;
        background: #fff;
    }
    .wrap_bg_box ul.before_list>li {
        position: relative;
        padding: 33px 0;
        border-bottom: 1px solid #ddd;
    }
    .wrap_bg_box ul.before_list li dl {
        display: table;
        width: 100%;
        min-height: 62px;
        margin: 0;
    }
    .wrap_bg_box ul.before_list li dl dt {
        display: inline-flex;
        vertical-align: middle;
        font-weight: 400;
    }
    .before_list .ico_ox input {
        opacity: 0;
    }
    .before_list li dl dt i {
        font-size: 50px;
        margin-right: 25px;
        color: #ababab;
    }
    .wrap_bg_box ul.before_list li dl dt p {
        color: #444;
        font-size: 18px;
        line-height: 26px;
    }
    .wrap_bg_box.medical dt p {
        letter-spacing: -1.5px;
    }
    .wrap_bg_box ul.before_list li dl dd {
        display: table-cell;
        width: 64px;
        vertical-align: middle;
        text-align: right;
    }
    .wrap_bg_box ul.before_list li .wrap_validator {
        position: absolute;
        left: 80px;
    }
    .wrap_bg_box.medical .box_bgg {
        position: relative;
        margin: 15px 0 -33px;
        padding: 13px 24px 32px 21px;
        background: #f9f9f9;
        box-sizing: border-box;
    }
    .label_horizental input {
        width: 22px;
        height: 22px;
        vertical-align: bottom;
        opacity: 0.7;
    }
    .label_horizental span {
        margin-left: 7px;
        color: #666;
    }
    .wrap_bg_box.medical .box_bgg .txt {
        margin: 5px 0;
        color: #444;
        font-weight: 700;
        font-size: 15px;
    }
    .wrap_bg_box.medical .box_bgg .label_horizental {
        margin-bottom: 15px;
    }
    .wrap_bg_box.medical .box_bgg li {
        padding: 0;
        border: none;
    }
    .label_horizental li {
        float: left;
        margin: 5px 30px 5px 0;
    }
    .wrap_bg_box.medical .other_list {
        padding: 35px 0 0;
        margin-bottom: 45px;
    }
    .wrap_bg_box ul.before_list>li {
        position: relative;
        padding: 33px 0;
        border-bottom: 1px solid #ddd;
    }
    .wrap_bg_box.medical .other_list dd {
        margin-top: 15px;
        padding: 18px 24px;
        background: #f9f9f9;
        box-sizing: border-box;
    }
    .wrap_bg_box.medical .other_list dl>* {
        display: block;
        width: 100%;
        text-align: left;
    }
    .wrap_bg_box ul.before_list li.last {
        border: none;
    }
    .wrap_bg_box ul.before_list>li {
        position: relative;
        padding: 33px 0;
        border-bottom: 1px solid #ddd;
    }
    .wrap_bg_box ul.before_list li dl {
        display: table;
        width: 100%;
        min-height: 62px;
    }
    .wrap_bg_box.medical dt .before_item {
        display: block;
        padding: 2px 0 2px 11px;
        font-size: 13px;
        text-indent: -11px;
    }
    .wrap_bg_box.medical .box_area_input {
        width: 180px;
        vertical-align: middle;
    }
    .wrap_bg_box.medical .box_area_input>* {
        padding: 0 4px;
        line-height: 32px;
    }
    .tb_td_cell.inp-box {
        vertical-align: middle;
    }
    .wrap_inp {
        display: inline-block;
        position: relative;
        padding-right: 12px;
        vertical-align: top;
        margin-left: 45px;
    }
    .wrap_inp input {
        height: 38px;
    }
    .wrap_bg_box.medical .before_list li .before12 dd input {
        text-align: right;
    }
    .txt_inp[value=value], .txt_inp[value] {
        color: #333;
    }
    .sel_type, .sel_type_b, .txt_inp, .txtarea_type {
        height: 24px;
        padding: 5px;
        border: 1px solid #bbb;
        color: #666;
        text-indent: 5px;
        line-height: 1;
    }
    .wrap_bg_box ul.dot_ul {
        margin-left: 30px;
    }
    .wrap_bg_box ul.dot_ul li {
        padding-right: 50px;
        font-size: 14px;
    }
    .before_list_icon {
        width: 90px;
    }
    .ico_ox i {
        font-size: 35px;
        color: #ababab;
    }
    .chk_on span {
        background: none;
        border: none;
    }
    .input_radio.rad.chk_on i {
        color: #00a087;
        background: none;
    }
    .dot_ul>li {
        margin-bottom: 12px;
        padding-left: 9px;
    }
    .txt_green {
        color: #13756f!important;
    }
    .plan_wrap span {
        color: #666;
    }
    .wrap_tb_cell div {
        display: inline-block;
    }
    .chk input {
        position: absolute;
        top: 50%;
        left: 1px;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        opacity: 0.8;
    }
    .chk span {
        display: block;
        min-height: 24px;
        padding-left: 33px;
    } 

    /******************** 인수불가  팝업 창 ******************/
    .wrap_pop_head h1 {
        width: auto!important;
        padding-left: 30px;
        color: #fff;
        font-size: 18px;
        line-height: 48px;
    }
    .wrap_pop_head h1 {
        width: 355px!important;
        margin-top: 0;
        margin-left: 0;
        padding-left: 28px;
        color: #fff;
        font-size: 18px;
        line-height: 48px;
    }
    .wrap_pop_cont {
        position: relative;
        padding: 77px 27px 27px;
        font-size: 13px;
    }
    .box_pop_info {
        text-align: center;
    }
    .box_pop_info .ico_sorry {
        height: 91px;
        margin: 33px auto 20px;
    }
    .box_pop_info .tit {
        margin-bottom: 22px;
        color: #000;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: -.9px;
    }
    .box_pop_info p {
        font-size: 14px;
    }
    .box_pop_info .call_info01 {
        margin-top: 20px;
    }
    .pop_txt_green {
        color: #13756f;
        font-weight: 700;
    }
    .wrap_pop_cont .btn_center, .wrap_pop_cont .btn_right {
        margin: 24px 0 0;
    }
    .wrap_pop_cont .bd_top {
        padding-top: 24px;
        border-top: 1px solid #bbb;
        text-align: center;
    }
    .btns.btn_pop_green span {
        color: #fff;
        font-size: 15px;
    }
    .btns span {
        color: #fff;
        vertical-align: top;
        letter-spacing: -1px;
    }
    .wrap_validator .error_txt {
        display: none;
    }